// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.comments {
    position: relative;
    min-height: 10rem;

    div.utterances {
        background-color: $global-background;
        z-index: 1;
    }

    .loading {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;

        img {
            position: relative;
            display: block;
            width: 5rem;
            height: 5rem;
            left: 50%;
            margin-left: -2.5rem;
        }
    }
}
